.DS_Store

.ipynb_checkpoints/
__pycache__/
*.py[cod]

.venv/
venv/
env/

.vscode/
.idea/

cleaned/
augmented/

artifacts/best_model*.joblib
artifacts/classification_results.csv
artifacts/clustering_results.csv
artifacts/final_results_logo.csv
artifacts/y_agg.npy
artifacts/y_kmeans.npy

*.aux
*.log
*.lof
*.lot
*.out
*.synctex.gz
*.toc
